
body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width:220px;
}
.search{
    width:100%;
    padding:5px;
    border:2px solid #f4f4f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list{
    width:92.5%;
    list-style: none;
    background-color: #f4f4f4;
    padding:15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:none;
}


.list.show{
    display:block;
}

.search:focus{
    outline:none;
    border-color: cyan;
}